/* CSS declarations go here */
template, body {
  height: 100%;
}

.halfHeight {
  height: 50%;
  overflow-y:auto;
}

.grey-gradient {
  background: radial-gradient(#424242  , #212121 );
}

.noPadding{
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

}

.backgroundMain {
  background: #292233;
}

.blue-gradient{
  background: linear-gradient(to right, #1976d2, #0d47a1  );
}

.navbar-gradient {
  background: linear-gradient(to right, #512da8   , #311b92 );
  /* background: linear-gradient(to right, #303f9f  , #1a237e ); */
}

.homePage-buttons{
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
}

.padding-2p {
  padding-top: 2%;
}

.bottomleft {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#coverPageDiv {

  position:relative;
  padding:0px;
  margin:0px;

  top:0px;
  left:0px;

  width: 100%;
  height: 100%;
  min-height: 850px;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 755px;
}

.listItem {
  padding: 0px;
  height: auto;
  border: 2px solid #bbb;
  margin: 0px;
  line-height: 40px;
  width: auto;
  background: #512da8;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}

.challengeItem{
  height: 50px;
  width: 100%;
}

.board{
  margin: auto;
  position: inherit;
  left:0;
  right: 0;
  top: 20%;
  bottom: 0;
  width: 68%;
  background: #808080;
  height: 200%;
}

.codeSelectorButtons{
  position: relative;
  width: 100%;
}

.buttonSelection{
  margin: auto;
  position: relative;
  width: 100%;
}
.top{
  position: fixed;
  width: 100%;
}
#startButton {
  float:left;
  width: 50%;
}

#stopButton {
  float:left;
  width: 50%;
}

#ifButton {
  float:left;
  width: 50%;
}

#thenButton {
  float:left;
  width: 50%;
}

#parkButton {
  float:left;
  width: 50%;
}

#codeButton {
  float:left;
  width: 50%;
}
