/* CSS declarations go here */
template, body {
  height: 100%;
}

.halfHeight {
  height: 50%;
  overflow-y:auto;
}

.grey-gradient {
  background: radial-gradient(#424242  , #212121 );
}
.noPadding{
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.backgroundMain{
  background: #332347;
}

.blue-gradient{
  background: linear-gradient(to right, #1976d2, #0d47a1  );
}
.navbar-gradient {
  background: linear-gradient(#22172f , #1b1225);
}


.cyan-background {
  background-color: #00b8d4 ;
}

.homePage-buttons{
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
  color: white;
}

.padding-2p {
  padding-top: 2%;
}

.bottomleft {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#coverPageDiv {

  position:relative;
  padding:0px;
  margin:0px;

  top:0px;
  left:0px;

  width: 100%;
  height: 100%;
  min-height: 850px;
}
.map-container {
  width: 100%;
  max-width: 100%;
  height: 755px;
}
