
<!-- DENNA FIL ANVÄNDS INTE, KAN TAS BORT!  -->


<!-- flow-text för responsiv design?  -->
<!-- class="dropdown-content"> gömmer alternatv default
    class = centre-align"-->

<template name="dropdown">
  <div id= "blockDropdown" class="input-field col s12 m6">
      <select class="icons sensorSelect">
        <option value="" disabled selected>Välj sensor</option>
        <option value="1" data-icon="images/lightSensor.png">ljus sensorn</option>
        <option value="2" data-icon="images/soundSensor.png">ljud sensorn</option>
        <option value="3" data-icon="images/pressSensor.png">tryck sensorn</option>
      </select>
   <label></label>
 </div>
</template>
