<template name="gameButtons">
  <body>
  <div class="buttonSelection">
    <div class=" col l6 m6 s6"><a href="" id="startButton" class="waves-effect waves-light btn-large green darken-1">START</a></div>
    <div class=" col l6 m6 s6"><a href="" id="endButton" class="waves-effect waves-light btn-large red darken-1">SLUT</a></div>
    <div class=" col l6 m6 s6"><a href="" id="ifButton" class="waves-effect waves-light btn-large grey">OM</a></div>
    <div class=" col l6 m6 s6"><a href="" id="thenButton" class="waves-effect waves-light btn-large grey darken-2">SÅ</a></div>
  </div>
        
</body>
</template>
