<template name="gameButtons">
  <body>
  <div class="buttonSelection">
    <div class=" col l6 m6 s6"><a href="" id="startButton" class="waves-effect waves-light btn green darken-1">START</a></div>
    <div class=" col l6 m6 s6"><a href="" id="stopButton" class="waves-effect waves-light btn red darken-1">STOP</a></div>
    <div class=" col l6 m6 s6"><a href="" id="ifButton" class="waves-effect waves-light btn">OM</a></div>
    <div class=" col l6 m6 s6"><a href="" id="thenButton" class="waves-effect waves-light btn">SÅ</a></div>
  </div>
</body>
</template>
