<template name="navbarView2">

  <!-- MATERIALIZE NAVBAR -->
  <nav role="navigation">
    <div class="nav-wrapper black-grey-gradient z-depth-3">


      <a href="#" class="brand-logo hide-on-med-and-down white-text right">BUILDINGBLOCKS</a>
      <!-- <a href="/" class="brand-logo hide-on-large-only white-text center-align">BUILDINGBLOCKS</a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>

      <a class="waves-effect waves-light btn-large red " >Button</a>
      <a class="waves-effect waves-light btn-large red ">Button</a>

      <ul class="left hide-on-med-and-down">
        <li><a href="/">HEM</a></li>
        <li><a href="">KARTA</a></li>
        <li><a href="">PROGRAMMERA</a></li>
        <li><a class="waves-effect waves-light logout">LOGGA UT</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li style="margin-top: 10px;"><a href="/"><i class="blue-text text-darken-4 fa fa-home" aria-hidden="true"></i>HEM</a></li>
        <li><a href="#"><i class="blue-text text-darken-4 fa fa fa-map" aria-hidden="true"></i> KARTA</a></li>
        <li><a href="#"><i class="blue-text text-darken-4 far fa fa-puzzle-piece" aria-hidden="true"></i> PROGRAMMERA</a></li>
        <li><a class="waves-effect waves-light logout"><i class="blue-text text-darken-4 fas fa-sign-out-alt" aria-hidden="true"></i> LOGGA UT</a></li>
      </ul>

    </div>
  </nav>
</template>
