<template name="navbar">

  <!-- MATERIALIZE NAVBAR -->
  <nav role="navigation">
    <div class="nav-wrapper navbar-gradient z-depth-3">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href="/">IDAG</a></li>
        <li><a href="newCourse">STUDIESESSIONER</a></li>
        <li><a href="calendar">ÖVERSIKT</a></li>
        <li><a href="#contactModal" class="waves-effect waves-light" >KONTAKT</a></li>
        <li><a href="#termsModal" class="waves-effect waves-light" >VILLKOR</a></li>
        <li><a class="waves-effect waves-light logout">LOGGA UT</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li style="margin-top: 10px;"><a href="/"><i class="blue-text text-darken-4 fa fa-home" aria-hidden="true"></i>&nbsp; IDAG</a></li>
        <li><a href="newCourse"><i class="blue-text text-darken-4 fa fa-plus-square" aria-hidden="true"></i>&nbsp; STUDIESESSIONER</a></li>
        <li><a href="calendar"><i class="blue-text text-darken-4 far fa-calendar-alt" aria-hidden="true"></i>&nbsp; ÖVERSIKT</a></li>
        <li><a href="#contactModal" class="waves-effect waves-light"><i class="blue-text text-darken-4 fa fa-envelope" aria-hidden="true"></i>&nbsp; KONTAKT</a></li>
        <li><a href="#termsModal" class="waves-effect waves-light"><i class="blue-text text-darken-4 fas fa-handshake" aria-hidden="true"></i>&nbsp; VILLKOR</a></li>
        <li><a class="waves-effect waves-light logout"><i class="blue-text text-darken-4 fas fa-sign-out-alt" aria-hidden="true"></i>&nbsp; LOGGA UT</a></li>
      </ul>

    </div>
  </nav>
</template>
