<template name="nightTime">
  <!-- Modal Structure -->
  <div id="nightTimeModal" class="modal" style="font-size: 16px">
    <div class="modal-header">
      <h2><center><br>Det är natt!</center></h2>
      <div class="modal-content">
      <h5><b><center>Under kvällstid får du inte manipulera ljuset i lyckstolparna. Kom tillbaka när solen har gått upp.</center></b>
      </h5>
    </div>
  </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
