<template name="challengeModal">
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-header">
      <h4 class="modalTitle"><center>{{challengeText}}</center></h4>
      <a class="btn-floating btn waves-effect waves-light unselectedChallenge"><i class="material-icons">done</i></a>
      <div class="modal-content">
      <br>
      <p>{{> challangeDescription}}</p>
      <p>{{{challengeContent}}}</p>
    </div>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
