<template name="ifBlockModal">
  <!-- Modal Structure -->
  <div id="iBModal" class="modal">
    <div class="modal-header">
      <h4><center><br>Om-block</center></h4>
      <div class="modal-content">
      <p><b><center>I detta block anger du ett villkor: om det du anger här uppfylls, så kommer det du angett i nästa block att hända.</center></b>
        <br>I det här blocket måste du ange vilken <b>sensor</b> (ljudsensor, ljussensor eller trycksensor) på vilken <b>lyktstolpe</b> (1, 2, 3, 4, 5, 6) som behöver aktiveras för att appen ska veta att den ska gå vidare till nästa block.
        <br>För att ange detta klickar du på pilen efter texten och väljer det värde du vill använda.
        <br>Ett <b>Så-block</b> kan läggas till efter detta block.
        <br>
        <br>I programmeringsspråket Java kan man istället skriva följande:
        <br> (bild)
</p>
    </div>
  </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
