<template name="ifBlockModal">
  <!-- Modal Structure -->
  <div id="iBModal" class="modal" style="font-size: 16px">
    <div class="modal-header">
      <h4><center><br>Om-block</center></h4>
      <div class="modal-content">
      <p><b><center>I detta block anger du ett villkor: om det du anger här uppfylls, så kommer det du angett i nästa block att hända.</center></b>
        <br>Ett <b>Så-block</b> kan läggas till efter detta block.
</p>
    </div>
  </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
