<template name="selectedChallengeModal">
  <!-- Modal Structure -->
  <div id="sCModal" class="modal" style="font-size: 16px">
    <div class="modal-header">
      <h4 class="modalTitle"><center>{{selectedChallengeText}}</center></h4>
      <br>
      <div class="modal-content">
      <p>{{> challangeDescription}}</p>
      <p>{{{selectedChallengeContent}}}</p>
    </div>
    </div>
    <div class="modal-footer">
      <div class="prevNext">
      {{#if noNextOption}}
      <a href="" class="sCModalNext btn waves-effect waves-light #1565c0 blue darken-4 selectedCMNext"><i class="fa fa-angle-right rightArrow"></i></a>
      {{/if}}
      {{#if noPreviousOption}}
      <a href="" class="sCModalPrevious  btn waves-effect waves-light #1565c0 blue darken-2 selectedCMPrev"><i class="fa fa-angle-left leftArrow"></i></a>
      {{/if}}
      </div>
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
