<template name="startBlockModal">
  <!-- Modal Structure -->
  <div id="sBModal" class="modal">
    <center><div class="modal-header">
      <h4><center>Startblock</center></h4>
      <div class="modal-content">
      <p>
        <br><i>Detta block behövs för att systemet ska förstå att du vill börja koda.</i>
          <br>Ett <bold>Om-block</bold> kan läggas till efter detta block.
          <br>En <bold>kodsekvens</bold> består av <bold>ett startblock, ett om-block, ett så-block och ett stopp-block</bold>. En kodsekvens kan tända <bold>en</bold> lampa. Du måste ha ett startblock för varje kodsekvens du vill skapa.
          <br>Du får maximalt använda ett startblock per kodsekvens, men du kan skapa många kodsekvenser efter varandra. Då scrollar du bara nedåt och lägger ett nytt startblock efter du har avslutat en tidigare kodsekvens med ett stoppblock.
          <br>Appen kör din kod från det första startblocket längst upp på skärmen ända ned till det sista stoppblocket längst ned på skärmen.
        </p>
    </div>
  </div></center>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
