<template name="stopBlockModal">
  <!-- Modal Structure -->
  <div id="stBModal" class="modal">
    <div class="modal-header">
      <h4 class="modalTitle">STOPPBLOCK</h4>
      <div class="modal-content">
      <p><br>Detta block behövs för att systemet ska förstå att du vill avsluta den kodsekvensen du programmerar i.
        <br>Du kan lägga till ett nytt startblock efter ett stoppblock. Då fortsätter systemet att köra koden som ligger under och du kan på så sätt tända flera lampor på samma gång.
        <br>
        <br>I programmeringsspråket Java kan detta stoppblock reprsenteras med följande kod:
        <br>(bild)
      </p>
    </div>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
