<template name="stopBlockModal">
  <!-- Modal Structure -->
  <div id="stBModal" class="modal" style="font-size: 16px">
    <div class="modal-header">
      <h4><center><br>Avslutsblock</center></h4>
      <div class="modal-content">
      <p><center><b>Detta block behövs för att systemet ska förstå att du vill avsluta den kodsekvens du just nu programmerar.</b></center></P>
        <br><p>Du kan lägga till ett nytt inledningsblock efter ett avslutsblock. Då fortsätter systemet att köra koden som ligger under och du kan på så sätt tända flera lampor på samma gång.
      </p>
    </div>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
