<template name="thenBlockModal">
  <!-- Modal Structure -->
  <div id="tBModal" class="modal">
    <div class="modal-header">
      <h4><center><br>Så-block</center></h4>
      <div class="modal-content">
      <p><b><center>I detta block anger du ett resultat - vad som ska hända om någonting inträffar.</center></b>
        <br>Efter detta block kan du lägga ett <b>avslutsblock</b> för att avsluta kodsekvensen.
    </p>
    </div>
  </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
