<template name="thenBlockModal">
  <!-- Modal Structure -->
  <div id="tBModal" class="modal">
    <div class="modal-header">
      <h4 class="modalTitle">SÅBLOCK</h4>
      <div class="modal-content">
      <p>I detta block anger du ett resultat - vad som ska hända om någonting inträffar.
        <br>I denna app kan du välja i vilken färg en lampa ska lysa i (rött, grönt, blått) och i vilken lamppost den ska lysa (1, 2, 3, 4, 5, 6).
        <br>Efter detta block kan du lägga ett slutblock för att avsluta kodsekvensen.
        <br>
        <br>I programmeringsspråket Java kan man skriva följande istället:
      <br> (bild)
    </p>
    </div>
    </div>
    <div class="modal-footer">
      <a href="" class="modal-close waves-effect waves-green btn-flat">Stäng</a>
    </div>
  </div>
</template>
