



<template name="override-atPwdFormBtn">
  <div class="row">
    <div class="col s12">
      <button type="submit" class="at-btn btn submit white-text orange darken-3 {{submitDisabled}}" id="at-btn">
        {{buttonText}}
      </button>
    </div>
  </div>
</template>

<template name="override-atSocial">

    <div class="col l6 m 12 s12">
      <button class="at-social-btn btn {{disabled}}" id="at-{{name}}" name="{{name}}">
        Logga in med
        <i class="{{iconClass}}"></i>
      </button>
    </div>

</template>
