



<template name="override-atPwdFormBtn">
  <div class="row">
    <div class="col s12">
      <button type="submit" class="at-btn btn submit white-text orange {{submitDisabled}}" id="at-btn">
        {{buttonText}}
      </button>
    </div>
  </div>
</template>

<template name="override-atSocial">

    <div class="col s6">
      <button class="at-social-btn btn {{disabled}}" id="at-{{name}}" name="{{name}}">
        <i class="{{iconClass}}"></i> {{buttonText}}
      </button>
    </div>

</template>
